* {
  background-color: #efebe1;
}
.planta {
  width: 300px;
}
.princesa {
  width: 300px;
}
* {
  text-align: center;
}

.icono-calendario {
  width: 20px;
}

.plantas-decoracion-lados {
  width: 300px;
}

.corona-xv {
  width: 100px;
}
